<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smarteyesmvp</string>
			</array>
		</dict>
	</array>
	<key>GEMINI_API_KEY</key>
	<string>Your actual API key here</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-viewapp</string>
		<string>meta-view</string>
	</array>
	<key>MWDAT</key>
	<dict>
		<key>Analytics</key>
		<dict>
			<key>OptOut</key>
			<true/>
		</dict>
		<key>AppLinkURLScheme</key>
		<string>smarteyesmvp://</string>
		<key>ClientToken</key>
		<string>YOUR_META_CLIENT_TOKEN</string>
		<key>DAMEnabled</key>
		<true/>
		<key>MetaAppID</key>
		<string>YOUR_META_APP_ID</string>
		<key>TeamID</key>
		<string>$(DEVELOPMENT_TEAM)</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.meta.ar.wearable</string>
	</array>
</dict>
</plist>
